<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', { page: 'Profile'}) %>

<body>

<%- include('../partials/nav.ejs') %>

<div id="user-show-container">
       <div id="user-show-top-row">
              <div id="user-show-avatar-container">
                     <img id="user-show-avatar" src="<%= user.avatar %>" alt="user avatar">
              </div>
              <div id="user-show-name-container">
                     <h3><%= user.name %></h3>
                     <% if(editOK) { %>
                            <a href="/users/<%= user._id %>/edit">Edit Profile</a>
                     <% } %>
              </div>
       </div>
       <div id="user-show-bottom-row">
              <div id="user-show-reviews-container">
                     <% if (userReviews.length > 0) { %>
                            <% for(let i=0; i < userReviews.length; i++) { %>
                                  <%= userReviews[i].park.name %>
                            <% } %>
                     <% } %>
              </div>
              <div id="user-show-badges-container">
                     <% if (user.badges.length > 0) { %>
                            <% for(let i=0; i < user.badges.length; i++) { %>
                                  <a href="/parks/<%= allParks.findIndex(park => park.name === user.badges[i].name) %>"><img class="user-show-badge" src="<%= user.badges[i].avatar %>" alt="<%= user.badges[i].name %>"></a>
                            <% } %>
                     <% } %>
              </div>
       </div>
</div>

</body>
</html>