<!DOCTYPE html>
<html lang="en">
    <%- include( '../partials/head.ejs', { page: 'National Parks'}) %> 
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="container">
        <h1>National Parks</h1>
        <ul class="parkList">
        <% for(let i=0; i < badges.length; i++){ %>
                    <li><a href="/parks/<%= i %>"><img class="badge-image" id="badge <% i %>" src="<%=badges[i].avatar%>" alt="<%=badges[i].name%> Image" /><a class="badgeName" href="/parks/<%= i %>"><%= badges[i].name %></a></a></li>
                        
        <%  }   %>
        </ul>
    </div>
</body>
</html>